body:not(.dark) .mlrc_dark {
  display: none;
}

.dark .mlrc_light {
  display: none;
}

.banner {
  background: url("../uploads/princeton_banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  /* adjust as needed */
  height: 20em;
  /* adjust as needed */
  padding-top: 10em;
  padding-bottom: 1em;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 2em;
}

.flyer {
  background: url("../uploads/mlrc_2025_flyer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  /* adjust as needed */
  height: 100%;
  max-width: 100%;
  /* adjust as needed */
  padding-top: 2em;
  padding-bottom: 2em;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 2em;
}

.footer_logo_plai {
  background: url("../uploads/plai_logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: inherit;
  height: 3em;
  /* adjust as needed */
  padding-top: 1em;
  margin-left: 1em;
  padding-bottom: 1em;
  text-shadow: 1px 1px 2px black;
  margin-top: 5em;
  margin-bottom: 2em;
}

.footer_logo_meta {
  background: url("../uploads/meta_logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: inherit;
  height: 3em;
  /* adjust as needed */
  padding-top: 1em;
  margin-left: 1em;
  padding-bottom: 1em;
  text-shadow: 1px 1px 2px black;
  margin-top: 5em;
  margin-bottom: 2em;
}

.footer_logo_openai {
  background: url("../uploads/openai_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 3em;
  /* adjust as needed */
  padding-top: 1em;
  margin-left: 1em;
  padding-bottom: 1em;
  text-shadow: 1px 1px 2px black;
  margin-top: 5em;
  margin-bottom: 2em;
}
